<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>19/11/25 10:24:44</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;FullBuyTest.setup()[pri:0, instance:test.FullBuyTest@6f7fd0e6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/11/25 10:24:52</td>   <td>7819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FullBuyTest.test_Checkout_Correos_Cash()[pri:0, instance:test.FullBuyTest@6f7fd0e6]">test_Checkout_Correos_Cash</td> 
  <td>main@1454127753</td>   <td></td> </tr>
</table>
